.employers-contact {
  background: linear-gradient(323deg, #690710 5.42%, #000 83.8%);

  .container {
    padding: 120px 20px;
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
  }
}

// TITLE
.text-title {
  color: #fff;
  title {
    font-size: 36px;
    font-weight: 700;
  }
  p {
    padding-bottom: 64px;
    padding-top: 24px;
    font-size: 16px;
    font-weight: 400;
  }
}

// FORM
.form-container {
  display: flex;
  .form-left {
    flex: 2;
  }

  .form-right {
    flex: 1;
  }
}

.form-left {
  .section-wrapper {
    .background {
      border-radius: 8x;
      padding: 48px;
      background-color: rgba(255, 255, 255);

      .first-row,
      .second-row {
        display: flex;
        .flex-box-field {
          margin-bottom: 24px;
          display: flex;
          h3 {
            padding-bottom: 16px;
            color: #121212;
          }
        }
      }
    }
  }
}

.flex-box-item {
  margin-bottom: 24px;
  display: flex;
  flex: 1;
  .left-input,
  .right-input {
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
      display: block;
      padding: 16px;
      height: 22px;
      line-height: 1.25;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid #121212;
      border-radius: 4px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }
}

.third-row {
  select {
    width: 100%;
    height: 56px;
    padding: 0 32px 0 16px;
  }
}

// -------- COMPANY CONTACT -------------- //
.company-contact {
  h3 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    color: #121212 !important;
    font-size: 18px;
    font-weight: 700;
  }

  .name-com-input,
  .location-com-input,
  .website-url {
    margin-bottom: 24px;
    position: relative;
    display: flex;
    flex-direction: column;

    input {
      display: block;
      padding: 16px;
      height: 22px;
      line-height: 1.25;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid #121212;
      border-radius: 4px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }
}

button {
  color: #fff;
  background-color: #ed1b2f;
  border-color: #ed1b2f;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 24px;
  min-width: 180px;
  border-radius: 4px;
  cursor: pointer;
}

.hiddenLabel {
  margin-top: 4px;
  color: red;
}

label {
  margin-bottom: 3px;
}
