@media (min-width: 768px) {
  .post-item {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}

.sidebar-container {
  padding-right: 24px;
  flex: 0 0 auto;
  width: 60%;
  position: relative;

  .post-items {
    bottom: calc(50% - 8px);

    background-color: rgb(64, 32, 0);
    margin-bottom: 16px;
    padding-top: 8px;

    .post-item {
      padding-left: 16px;
      padding-right: 16px;
      cursor: pointer;

      .layout-post-item {
        padding-top: 8px;
        padding-bottom: 8px;

        a {
          text-decoration: none;
          color: #fff;
        }

        .time-posted {
          justify-content: space-between;
          align-items: center;
          position: relative;

          span {
            color: rgb(176, 169, 159);
            font-size: 14px;
            font-weight: 400;
          }
        }

        .titlePost {
          margin-top: 12px;
          line-height: 1.5;
          font-size: 18px;
          font-weight: 700;
          color: #fff;
        }

        .companyName {
          margin: 12px 0;

          a {
            font-size: 14px;
            font-weight: 400;
            margin-left: 8px;
          }
        }

        .rangeSalary {
          font-weight: 500;
          padding-bottom: 12px;
          color: rgb(85, 250, 80);
          align-items: center;
        }

        .border-top-dashed {
          border: 1px dashed #dedede;
          border-top-color: rgb(57, 62, 64);
          width: 100%;
          margin: 5px 0 10px;
        }

        .workPlace {
          color: rgb(176, 169, 159);
          margin-top: 4px;
          align-items: center;
        }

        .workLocation {
          color: rgb(176, 169, 159);
          margin-top: 4px;
          align-items: center;
        }

        .vacancies {
          color: rgb(176, 169, 159);
          margin-top: 4px;
          align-items: center;
        }
      }
    }
  }

  .post-items:hover {
    border: 1px solid #ff0821;
    border-left: 8px solid red;
    transition: 0.3s ease;
  }
  .text-flex {
    display: flex;
  }

  .text {
    padding-left: 8px;
  }

  .icon {
    width: 16px;
    height: 16px;
  }
}
