.infoUser {
  width: 95%;
  margin: 0 auto;
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.infoUserLeft {
  width: 70%;
  border-radius: 0.8rem;
  border-top: 0.5px solid rgb(234, 230, 230);
  border-bottom: 0.5px solid rgb(234, 230, 230);
}
.infoUserRight {
  width: 25%;
  border-radius: 0.8rem;
  border: 0.5px solid rgb(234, 230, 230);
  padding: 1rem;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .infoUserRight {
    display: none;
  }
  .infoUserLeft {
    width: 100%;
  }
}
